<%= render 'header' %>

<div class="content">
  <div class="errors"></div>

  <%= render 'form' %>

  <div class="formatted">
    <h3 class="titleUrlBox">Feito! Copie seu link</h3>
    <p class="urlShortener"></p>
  </div>
</div>


